body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #000000;
  background-color: #f2f2f2;
}
img {
  max-width: 100%;
  height: auto;
}
/*Рабочее примечание. Ниже селекторы для - index.html */
.home-header {
  position: relative;
  width: 1200px;
  background-color: #7d9dc1;
  background-image: url("../img/background photo.jpg");
  background-repeat: no-repeat;
  background-position: 0px -26px;
  background-size: 1200px 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

/* Блок для навигации однинаковый для index и inner*/
.home-navigation {
  width: inherit;
  padding-bottom: 16px;
  background-color: transparent;
  margin-bottom: 61px;
}
.inner-navigation {
  width: inherit;
  padding-bottom: 16px;
  background-color: transparent;
}
.site-navigation {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0 72px;
  justify-content: flex-start;
  background-color: white;
  margin: 0;
}
.menu {
  display: flex;
  flex-direction: row;
  width: 240px;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.menu:first-child, .menu:nth-child(2) {
  justify-content: flex-start;
}
.menu:nth-child(3), .menu:last-child  {
  justify-content: flex-end;
}
.menu:nth-child(3) {
  margin-left: auto;
}
.navigation {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}
/* Блок навигации окончание */

.logo-sedona {
  display: block;
  position: absolute;
  top: 0;
  padding: 0;
}
.home-main-slogans {
  margin-bottom: 16px;
}
.home-header:after {
  content: "";
  width: inherit;
  height: 59px;
  background-image: url("../img/polygon.png");
  background-repeat: no-repeat;
  background-size: 1202px 59px;
  background-position: -1px 1px;
}
.home-main {
  width: 1200px;
  margin: 0 auto;
}
.features-preamble {
  margin-top: 0;
  width: inherit;
}
.why {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  padding: 58px 300px;
  padding-bottom: 53px;
  margin: 0px;
}
.about-sedona {
  margin: 0;
}
.about-sedona:first-child {
  margin-bottom: 31px;
}
.first-feature, .second-feature {
  display: flex;
  flex-direction: row;
  width: 1200px;
}
.text-of-first-feature, .text-of-second-feature {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 400px;
  padding-right: 60px;
  padding-left: 60px;
  padding-top: 48px;
  padding-bottom: 57px;
}
.text-of-second-feature {
  padding-right: 40px;
  padding-left: 40px;
}
.real-town, .diablo, .last-reasons{
  margin: 0;
}
.real-town.base-reasons {
  margin: 0 40px;
  line-height: 1;
}
.real-town.reasons {
  line-height: 1.6;
}
.diablo.reasons {
  line-height: 1.6;
}
.diablo.base-reasons {
  margin-left: 45px;
  margin-right: 45px;
  line-height: 1;
}
.last-reasons.reasons {
  line-height: 1.6;
}
.one-point {
  line-height: 1.6;
}
.flag-n-house {
  width: 800px;
  min-height: 256px;
  background-image: url("../img/flag-n-house.jpg");
  background-repeat: no-repeat;
  background-size: 800px 401px;
  background-position: 0 -77px;
}
.bridge {
  width: 800px;
  min-height: 256px;
  background-image: url("../img/bridge.jpg");
  background-repeat: no-repeat;
  background-size: 800px 401px;
  background-position: 0 -77px;
}
.features-others {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1200px;
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 4px;
}
.others {
  display: flex;
  flex-direction: column;
  width: 400px;
  background-position: center 61px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-top: 158px;
  padding-bottom: 56px;
  box-sizing: border-box;
  margin: 0;
  padding-left: 55px;
  padding-right: 55px;
}
.others:first-of-type {
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
}
.others:nth-of-type(2) {
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
}
.others:last-of-type {
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
}
.points, .one-point {
  margin: 0;
  margin-bottom: 21px;
}
.features-sequel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  width: 1200px;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}
.feature-third-type {
  display: flex;
  width: 400px;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-top: 47px;
  padding-bottom: 61px;
  padding-right: 60px;
  padding-left: 60px;
  margin: 0;
}
.feature-third-type:last-child {
  padding-right: 70px;
  padding-left: 70px;
}
.last-reasons.base-reasons {
  line-height: 1;
  margin-bottom: 11px;
}
.last-reasons.reasons {
  margin-top: 8px;
}
.final {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 1200px;
  background-color: #cadca8;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-size: 1718px 748px;
  background-position: -259px 137px;
  padding-bottom: 473px;
  margin: 0 auto;
}
.interested {
  box-sizing: border-box;
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: white;
  padding-top: 45px;
  padding-bottom: 48px;
}
.interested>.reasons {
  margin: 0;
  line-height: 1.6;
}
.super-base-reasons {
  margin: 0;
  margin-bottom: 27px;
}
.help-box {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.call-of-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 568px;
  background-color: #766357;
  padding: 30px 0;
}
.brick {
  width: 316px;
  background-color: white;
}
.button-search-hotel {
  text-decoration: none;
}
.call-of-form:hover {
  background-color: #604e43;
  cursor: pointer;
}
.call-of-form:active {
  background-color: #503e33;
}
.call-of-form:active .button-search-hotel {
  color: #7e7068;
}
.index-form {
  position: absolute;
  width: 458px;
  background-color: white;
  padding: 55px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  top: 100%;
  left: 316px;
}
.field-calendar {
  display: flex;
  position: relative;
  width: 458px;
  height: 38px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 38px;
  /* В этом месте у меня нет понимания абсолютно. Центровка текса в label
  достигается только таким образом. Был еще работающий вариант: я сделал высоту у label и
  топ-паддингом двигал контент внутри label, но это, по-моему, неправильно.
  Я думал align-items или vertical-align должны сработать.*/
  /* И есть еще один вопрос. Я вроде бы все размеры касающиеся формы выставил
  по макету, и шрифт в том числе, но на дизайн не похоже.
  Прежде всего, отступы от текста до кнопки.*/
  margin-bottom: 30px;
}
.button, .quantity-of-adults, .quantity-of-kids {
  background-color: #f2f2f2;
}
.date-of-entry, .date-of-exit {
  width: 331px;
  height: 38px;
  margin-bottom: 29px;
  padding-left: 15px;
  border: none;
  background-color: #f2f2f2;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}
.field-calendar:after {
  content: "";
  position: absolute;
  height: 22px;
  width: 22px;
  background-image: url("../img/calendar.svg");
  background-repeat: no-repeat;
  background-size: cover;
  right: 8px;
  top: 8px;
  opacity: 0.5;
}
.field-adults, .field-kids {
  display: flex;
  margin-bottom: 54px;
  line-height: 38px;
}
label[for="date-of-entry"], label[for="date-of-entry"] {
  font-size: 14px;
}
label[for="kids"]  {
  margin-right: 27px;
  font-size: 14px;
}
label[for="adults"] {
  margin-right: 40px;
  font-size: 14px;
}
.quantity-of-adults, .quantity-of-kids {
  width: 38px;
  height: 38px;
  padding: 0;
  margin: 0;
  margin-right: 0px;
  border: none;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}
.adults-minus, .adults-plus, .kids-minus, .kids-plus {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 38px;
  height: 38px;
  padding: 0;
  margin: 0;
  margin-right: 0px;
  border: none;
  background-color: #f2f2f2;
}
.find {
  background-color: #81b3d2;
  width: 458px;
  height: 58px;
  border: none;
}
.find:hover {
  background-color: #669ec0;
  cursor: pointer;
}
.find:active {
  background-color: #5496bd;
  color: #83b3cf;
}
.main-footer, .inner-footer {
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  padding-top: 26px;
  padding-bottom: 36px;
  margin: 0 auto;
}
.hashteg, .footer-social, .footer-copyright {
  width: 220px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.footer-social ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
}
.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  width: 47px;
  height: 47px;
  background-color: #5496bd;
}
.social-button a {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #81b3d2;
}
.social-button:first-child a {
  background-size: 50%;
  background-image: url("../img/twitter.svg");
}
.social-button:nth-child(2) a {
  background-size: 30%;
  background-image: url("../img/fb-icon.svg");
}
.social-button:last-child a {
  background-size: 50%;
  background-image: url("../img/youtube.svg");
  margin: 0;
}
.social-button a:hover {
  background-color: #669ec0;
  cursor: pointer;
}
.social-button a:active, .social-button a:focus {
  background-color: #5496bd;
  opacity: 0.3;
}
.html-image {
  background-color: inherit;
}
.into-the-academy {
  background-color: #f9fbf6;
}
.into-the-academy:hover path {
  fill: #81b3d2;
  cursor: pointer;
}
.into-the-academy:active path, .into-the-academy:focus path {
  fill: #cccacb;
}
.footer-copyright {
  display: flex;
  flex-direction: row;
  justify-content: middle;
  text-align: center;
  align-items: center;
}
.super-base-reasons {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 28px;
  color: #000000;
  text-transform: uppercase;
}
.base-reasons {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 21px;
  color: #000000;
  text-transform: uppercase;
}
.reasons {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #000000;
  text-transform: uppercase;
}
.white-text {
  color: #ffffff;
  text-transform: uppercase;
}
.first-feature, .second-feature  {
  background-color: #81b3d2;
}
.features-sequel {
  background-color: #eeeeee;
}
form {
  text-transform: uppercase;
}

/* Рабочее примечание. Ниже селекторы для inner.html */
.inner-header {
  position: relative;
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  margin: 0 auto;
}
.inner-header:after {
  content: "";
  display: block;
  position: absolute;
  width: 1200px;
  height: 800px;
  background-image: url("../img/filter background.jpg");
  background-repeat: no-repeat;
  background-size: 1200px;
  top: 0;
  z-index: -1;
}
.main-inner {
  width: 1200px;
  background-color: transparent;
  margin: 0 auto;
}
.inner-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  padding-top: 10px;
  padding-right: 73px;
  /* Здесь, я не понимаю, почему padding не меняет ширину формы */
  padding-left: 73px;
}
.infrastructure, .type-of-housing, .cost-of-day {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: right;
  width: 254px;
  margin: 0;
  padding:0;
  border: none;
}
.for-inner-form {
  margin-bottom: 24px;
}
.column-for-form {
  margin-bottom: 19px;
}
.column-for-form:last-child {
  margin-bottom: 29px;
}
.for-inner-form {
  margin-left: 0;
  padding-left: 0;
}
.column-for-form label{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.column-for-form label:before {
  content: "";
  display: block;
  width: 27px;
  height: 27px;
  background-image: url("../img/checkbox-off.png");
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: 0 1px;
  margin-right: 12px;
}
.type-of-housing label:before {
  margin-right: 15px;
}
.column-for-form input:checked + label:before {
  content: "";
  background-image: url("../img/checkbox-on.png");
  background-size: 100% 90%;
}
.column-for-form label:hover {
  cursor: pointer;
}
.cost-of-day {
  width: 312px;
  margin-left: auto;
  border: none;
}
.cost-of-day .for-inner-form {
  margin-bottom: 12px;
}
.from-and-to {
  width: 312px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 32px;
  margin-bottom: 20px;
  border: 2px solid white;
  border-radius: 2px;
}
.from-and-to:before {
  content: "";
  display: block;
  order: 1;
  width: 2px;
  height: 23px;
  background-color: white;
}
.help-container:first-child {
  box-sizing: border-box;
  order: 0;
  width: 169px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 65px;
}
.help-container:last-child {
  box-sizing: border-box;
  order: 2;
  width: 169px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 56px;
}
.help-container label {
  margin-right: 4px;
}
.min-cost, .max-cost {
  width: 50px;
  background: none;
  border: none;
}
.two-line-for-range {
  position: relative;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-bottom: 32px;
}
.two-line-for-range:before {
  position: absolute;
  content: "";
  height: 2px;
  width: 250px;
  background-color: white;
}
.range-min, .range-max {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 20px;
}
.range-min:after, .range-max:after {
  content: "";
  width: 5px;
  height: 5px;
  background-color: black;
  border-radius: 5px;
  opacity: 0.3;
}
.range-min {
  top: -10px;
  left: 0px;
}
.range-max {
  top: -10px;
  left: 252px;
}
.range-min:hover {
  left: -1px;
  top: -11px;
  width: 22px;
  height: 22px;
  border-radius: 22px;
  cursor: pointer;
}
.range-max:hover {
  left: 237px;
  top: -11px;
  width: 22px;
  height: 22px;
  border-radius: 22px;
  cursor: pointer;
}
.to-show {
  order: 2;
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  margin-left: 85px;
  padding: 6px 33px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
  margin-bottom: 15px;
}
.to-show:hover {
  color: #000000;
  background-color: white;
  cursor: pointer;
}
.inner-form:after {
  content:"";
  display: table;
  clear: both;
}
.results-of-search {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: inherit;
  background-color: white;
  padding-left: 73px;
  padding-right: 73px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.sort-of {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.quantity {
  margin-right: 48px;
  margin-left: 0px;
}
.pick-quality:first-child {
  margin-right: 40px;
  margin-left: 0px;
}
.pick-quality:nth-child(2) {
  margin-right: 30px;
  margin-left: 0px;
}
.pick-quality:nth-child(3) {
  margin-right: 33px;
  margin-left: 0px;
}
.sort-of a {
  text-decoration: none;
  border-bottom: 1px dashed #b4b4b4;
  color: #b4b4b4;
}
.sort-of a:hover {
  border-bottom: 1px dashed #81b3d2;
  color: #81b3d2;
}
.sort-of a:focus {
  border-bottom: 1px dashed #000000;
  color: #000000;
}
.sort-of a:active {
  border-bottom: none;
  color: #81b3d2;
}
.arrow {
  width: 14px;
  heigth: 10px;
  margin-left: 7px;
  border: none;
  background-color: transparent;
  padding: 0;
}
.arrow path{
  margin: 0;
  fill: #b4b4b4;
}
.arrow:hover path{
  fill: black;
}
.arrow:active path,
.arrow:focus path {
  fill: #81b3d2;
}
.for-button {
  margin-left: auto;
}
.result-of-choose {
  width: inherit;
  background-color: white;
}
.listings-of-result {
  width: inherit;
  height: inherit;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}

.information-about-hotel {
  display: flex;
  flex-direct: row;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid #e5e5e5;
  padding-top: 32px;
  padding-bottom: 28px;
  padding-left: 73px;
  padding-right: 73px;

}
.details-about-hotel {
  display: flex;
  flex-direct: row;
  justify-content: space-between;
  align-items: flex-start;
}
.aside-container {
  display: table;
  width: 300px;
  margin-left: 30px;
}
.caption-of-table {
  display: table-caption;
  width: 258px;
  margin-bottom: 14px;
  vertical-align: top;
}
.hotels-name {
  margin: 0;
  line-height: 16px;
  font-size: 21px;
}
.hotels-name:hover {
  color: #81b3d2;
  cursor: pointer;
}
.hotels-name:focus {
  color: #f2f2f2;
}
.first-row {
  margin-bottom: 19px;
}
.first-column {
  display: table-cell;
  width: 110px;
  margin-right: 6px;
}
.first-row span {
  vertical-align: top;
}
.second-column {
  display: table-cell;
  width: 142px;
  padding-left: 6px;
}
.second-row span {
  vertical-align: bottom;
}
.details {
  display: block;
  width: 110px;
  line-height: 27px;
  text-decoration: none;
  text-align: center;
}
.details:hover {
  background-color: #669ec0;
}
.details:active {
  background-color: #5496bd;
  color: #7baecc;
}
.booking {
  display: block;
  width: 142px;
  height: 27px;
  text-decoration: none;
  line-height: 27px;
  text-align: center;
  margin: 0;
}
.booking:hover {
  background-color: #604e43;
}
.booking:active {
  background-color: #503e33;
  color: #7b6d65;
}
.first-row p {
  line-height: 14px;
  margin: 0;
}
.stars {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 110px;
}
.stars div {
  margin-bottom: 42px;
}
.for-inner-form {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
}
.column-for-form, .min-cost, .max-cost, label[for="min-cost"], label[for="max-cost"], .to-show {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
}
.quantity {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}
.sort-of, .sort-of h3 {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 12px;
  color: #000000;
  text-transform: uppercase;
}
.pick-quality {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: lighter;
  font-size: 12px;
  color: #000000;
  text-transform: uppercase;
}
.hotels-name {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 21px;
  color: #000000;
  text-transform: uppercase;
}
aside {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #000000;
  text-transform: uppercase;
}
.details, .booking {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
}
.details {
  background-color: #88b7d5;
}
.booking {
  background-color: #766357;
}
.rating {
  width: 110px;
  height: 27px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #666666;
  text-transform: uppercase;
  background-color: #f2f2f2;
  text-align: center;
  line-height: 27px;
  margin: 0;
}

/* Рабочее примечание. Ниже идут общие селекторы.*/
footer {
  background-color: #f9fbf6;
}
.hashteg-visitsedona {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 21px;
  color: #000000;
  text-transform: uppercase;
}
.website {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #000000;
  text-transform: uppercase;
}
.visually-hidden {
  position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}
