body {
  font-family: "PTSans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #000000;
}
/*Рабочее примечание. Ниже селекторы для - index.html */

.home-header {
  width: 1200px;
  height: 571px;
  background-color: #7d9dc1;
  background-image: url("../img/background photo.jpg");
  background-repeat: no-repeat;
  background-position: 0px -20px;
  background-size: 1200px 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-navigation {
  width: inherit;
  height: 72px;
  margin-bottom: -72px;
  margin-left:0;
}
.site-navigation {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  justify-content: space-around;
  background-color: white;
  margin-top: 0;
  height: 56px;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 140px;
}
.navigation {
  margin: auto;
  text-decoration: none;
}
.logo-sedona {
  width: 140px;
  height: 72px;
  margin-bottom: 61px;
}
.home-main-slogans {
  margin-bottom: 21px;
}
.polygon {
  width: inherit;
  height: 59px;
  background-image: url("../img/polygon.svg");
  background-repeat: no-repeat;
  background-size: 1201px 59px;
  background-position: -1px 0px;
}
.navigation {
  font-family: "PTSans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #000000;
  text-transform: uppercase;
}
.home-main {
  width: 1200px;
}
.features-preamble {
  margin-top: 0;
  width: inherit;
  height: 216px;
}
.why {
  width: inherit;
  height: 216;
  margin: 0px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  padding-top: 55px;
}
.about-sedona {
  margin: 0;
}
.about-sedona:nth-child(2) {
  margin-bottom: 35px;
}
.first-feature, .second-feature {
  display: flex;
  flex-direction: row;
  width: 1200px;
  height: 256px;
}
.text-of-first-feature, .text-of-second-feature {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 400px;
  padding-top: 45px;
  padding-bottom: 60px;
}
.real-town, .diablo, .last-reasons{
  margin: 0;
}
.real-town.base-reasons, .diablo.base-reasons, .last-reasons.base-reasons {
  width: 175px;
}
.real-town.reasons {
  width: 330px;
  line-height: 1.6;
}
.diablo.reasons {
  width: 335px;
  line-height: 1.6;
}
.last-reasons.reasons {
  width: 295px;
  line-height: 1.6;
}
.one-point {
  width: 330px;
  line-height: 1.6;
}
.flag-n-house {
  width: 800px;
  height: inherit;
  background-image: url("../img/flag-n-house.jpg");
  background-repeat: no-repeat;
  background-size: 800px 401px;
  background-position: 0 -72px;
}
.bridge {
  width: 800px;
  height: inherit;
  background-image: url("../img/bridge.jpg");
  background-repeat: no-repeat;
  background-size: 800px 401px;
  background-position: 0 -72px;
}
.features-others {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 1200px;
  height: 333px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.features-sequel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 1200px;
  height: 256px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.others {
  display: flex;
  box-sizing: border-box;
  height: 334px;
  flex-direction: column;
  background-position: center 60px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-top: 155px;
  padding-bottom: 85px;
  margin: 0;
}
.points, .one-point {
  margin: 0;
}
.feature-third-type {
  display: flex;
  hight: inherit;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-top: 45px;
  padding-bottom: 65px;
  margin-bottom: 0;
}
.final {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  height: 764px;
  background-color: #cadca8;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-size: 1718px 748px;
  background-position: -259px 137px;
}
.interested {
  box-sizing: border-box;
  width: inherit;
  height: 292px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: white;
  padding-top: 52px;
  padding-bottom: 138px;
}
.interested>.reasons {
  margin: 0;
  line-height: 1.6;
}
.super-base-reasons {
  margin: 0;
}
.call-of-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 568px;
  height: 86px;
  margin-top: -86px;
  background-color: #766357;
}
.call-of-form .button-search-hotel {
  color: white;
  background-color: inherit;
  text-decoration: none;
}
.index-form {
  width: 458px;
  background-color: white;
  padding: 55px;
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* Оказывается я не совсем понял как делать выпадающее меню. Пока так. */
.final:hover .index-form {
  width: 458px;
  background-color: white;
  padding: 55px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.field-calendar {
  width: 458px;
  height: 38px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 38px;
  margin-bottom: 30px;
}
.main-footer, .inner-footer {
  width: 1200px;
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}
.hashteg, .footer-social, .footer-copyright {
  width: 220px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.social-button {
  position: relative;
  margin-right: 10px;
  width: 50px;
  height: 50px;
}
.social-button:last-child {
  margin: 0;
}
.social-image {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 25%;
  left: 25%;
  padding: 0;
}
.html-image {
  width: 120px;
  height: 40px;
  background-color: inherit;
}
.footer-social ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-copyright {
  display: flex;
  flex-direction: row;
  justify-content: middle;
  text-align: center;
  align-items: center;
}
.super-base-reasons {
  font-family: "PTSans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 28px;
  color: #000000;
  text-transform: uppercase;
}
.base-reasons {
  font-family: "PTSans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 21px;
  color: #000000;
  text-transform: uppercase;
}
.reasons {
  font-family: "PTSans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #000000;
  text-transform: uppercase;
}
.white-text {
  color: #ffffff;
  text-transform: uppercase;
}
.first-feature, .second-feature  {
  background-color: #81b3d2;
}
.features-others li:first-of-type {
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
}
.features-others li:nth-of-type(2) {
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
}
.features-others li:last-of-type {
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
}
.features-sequel {
  background-color: #eeeeee;
}
form {
  text-transform: uppercase;
}
.button, .quantity-of-adults, .quantity-of-kids {
  background-color: #f2f2f2;
}
#date-of-entry, #date-of-exit {
  background-image: url("../img/calendar.svg");
  background-repeat: no-repeat;
  width: 346px;
  height: 38px;
  margin-bottom: 29px;
  border: none;
}
.field-adults, .field-kids {
  display: inline-block;
  margin-bottom: 29px;
}
#adults, #kids {
  width: 38px;
  height: 38px;
  padding: 0;
  margin: 0;
  margin-right: -5px;
  border: none;
}
#adults-minus, #adults-plus, #kids-minus, #kids-plus {
  width: 38px;
  height: 38px;
  padding: 0;
  margin: 0;
  margin-right: -5px;
  /* Здесь вопрос у меня есть. Я паддинги убрал, марджины убрал,
  а кнопки без отрицательных марджинов не слиплись. Почему? */
  border: none;
}
#kids-plus {
  margin: 0;
}
.find {
  background-color: #81b3d2;
  width: 458px;
  height: 58px;
  border: none;
}
/* Рабочее примечание. Ниже селекторы для inner.html */
.inner {
  background-image: url("../img/filter background.jpg");
  background-repeat: no-repeat;
}

.inner-header {
  width: 1200px;
  height: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inner-navigation {
  width: inherit;
  height: 92px;
  margin-bottom: -71px;
  margin-left:0;
}
.inner-site-navigation {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  justify-content: space-around;
  background-color: white;
  margin-top: 0;
  height: 56px;
}
.inner-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 140px;
}

.inner-menu:nth-child(1), .inner-menu:nth-child(2) {
  order:-1;
}
.inner-menu:nth-child(3), .inner-menu:nth-child(4) {
  order:1;
}
.inner-site-navigation:after {
  content: "";
  order: 0;
  width: 140px;
}

.inner-logo-sedona {
  width: 140px;
  height: 72px;
  margin-bottom: 61px;
}
.main-inner {
  width: 1200px;
}
.inner-menu .navigation {
  font-family: "PTSans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #000000;
  text-transform: uppercase;
}
.infrastructure, .type-of-housing {
  float: left;
  width: 240px;
}
.cost-of-day {
  float: right;
  width: 340px;
}
.inner-form:after {
  content:"";
  display: table;
  clear: both;
}
.results-of-search {
  width:inherit;
  height: 88px;
  background-color: white;
}
.quantity, .sort-of {
  float: left;
}
.for-button {
  float: right;
}
.pick-quality {
  float: left;
  margin-left: 10px;
}
.result-of-choose {
  width: inherit;
  height: 452px;
  background-color: white;
}
.listings-of-result {
  padding: 0;
  list-style: none;
}
.information-about-hotel {
  display: flex;
  flex-direct: row;
  justify-content: space-between;
}
.details-about-hotel {
  display: flex;
  flex-direct: row;
  justify-content: space-between;
}
.aside-contener {
  display: table;
  width: 300px;
}
.hotels-name {
  display: table-caption;
}
aside {
  display: table-row;
}
p, a {
  display: table-cell;
}




.for-inner-form {
  font-family: "PTSans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
}
.column-for-form {
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
}
.column-for-form, .min-cost, .max-cost {
  font-family: "PTSans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
}
.quantity {
  font-family: "PTSans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 21px;
  color: #000000;
  text-transform: uppercase;
}
.sort-of, .sort-of h3 {
  font-family: "PTSans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 12px;
  color: #000000;
  text-transform: uppercase;
}
.pick-quality {
  font-family: "PTSans", "Arial", sans-serif;
  font-weight: lighter;
  font-size: 12px;
  color: #000000;
  text-transform: uppercase;
}
.hotels-name {
  font-family: "PTSans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 21px;
  color: #000000;
  text-transform: uppercase;
}
aside {
  font-family: "PTSans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #000000;
  text-transform: uppercase;
}
.details, .booking {
  font-family: "PTSans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
}
.details {
  background-color: #88b7d5;
}
.booking {
  background-color: #766357;
}
.rating {
  font-family: "PTSans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #666666;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

/* Рабочее примечание. Ниже идут общие селекторы.*/
footer {
  background-color: #f2f2f2;
}
.social-button {
  background-color: #81b3d2;
}
.hashteg-visitsedona {
  font-family: "PTSans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 21px;
  color: #000000;
  text-transform: uppercase;
}
.webside {
  font-family: "PTSans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #000000;
  text-transform: uppercase;
}
.visually-hidden {
  position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}
